@{
    var resultado = TempData["Resultado"];
}

@model ConversorDolar.Models.Conversor

<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet"></link>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversor de Moedas</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
            <header class="header">
                <h1>Conversor de Moedas</h1>
                        <nav>
                            <a href="historico">Histórico</a>
                        </nav>
                    <hr />
            </header>
    </div>

    <div class="converter"style="margin-top:5%;">

        <form asp-controller="Home" asp-action="ProcessForm" method="post">
        <label for="name">Valor:</label>
            <input asp-for="FormValor" type="number" placeholder="Digite o valor" min="0" step="0.01" />
        <br/>
        <label for="name">De:</label>
            <select id="CurrencyDe" name="CurrencyDe" class="select">
                Select...
        @if(@Model.Currencies != null)
        {
            <option value="">Select...</option>
            @foreach(var item in @Model.Currencies)
            {
                <option value="@item">@item</option>
            }
        }
        </select>
        <br/>
        <label for="name">Para:</label>
        <select id="CurrencyPara" name="CurrencyPara" class="select">Select...
        @if (@Model.Currencies != null)
        {
            <option value="">Select...</option>
            @foreach (var item in @Model.Currencies)
            {
                <option value="@item">@item</option>
            }
        }
        </select>
        <br/>
        <button type="submit">Converter</button>
        <br/>
            <h3>@resultado</h3>
        </form>
    </div>

</body>
</html>
